<footer id="footer">
    <div class="ftext">
        <div class="fone"><img src="24hour.png" alt="" width="70" height="70">
            <h2>Tweme</h2><br>
        </div>
        <div class="ftwo">
            <i class="bi bi-house-door"></i> Addis Abeba Ethiopia<br><br>
            <i class="bi bi-telephone-inbound"></i> +2519111111111<br><br>
            <i class="bi bi-envelope"></i><a href="mailto:bbekijunior@gmail.com">
                <font color="#005ce6">Bbekijunior@gmail.com </font>
            </a>
        </div>
        <div class="fthree">
            <h2>About the company</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip
                ex ea commodo consequat</p>
        </div>
    </div>
    <center>
        <h2 class="copy">Copyright @ 2023 Self Motivation , Inc - All Right Reserved.</h2>
    </center>
</footer>