<div class="container-fluid">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <i class="bi bi-emoji-smile"></i><a class="navbar-brand" href="#">Tweme</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/gener">Gener</a>
                    <a class="nav-link" href="/post">Post</a>
                    <a class="nav-link" href="/tweet">Tweet</a>
                    <a class="nav-link" href="/login">Login</a>
                </div>
                <form class="d-flex justify-content-end" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class=" btn btn-outline-warning" type="submit">Search</button>
                </form>
                <div class="session">
                    <%if(session){%>
                        <button type="button" class="btn btn-warning">Logout</button>
                        <%}%>
                </div>
            </div>
        </div>
    </nav>